<label for="profile_plugins_<%= plugin_name %>_<%= option.name %>" >
    <% description = (option.description.ends_with?( '.' ) ?
            option.description[0...-1] : option.description)  %>
    <% if option.required? %>
        <abbr title="required">*</abbr>
    <%end%>

    <%= description %> (<strong><em><%= option.name %></em></strong>):
</label>
