<% title "Editing #{@profile.name}" %>

<% breadcrumb_add 'Profiles', profiles_path %>
<% subnav spider: 'Spider', http: 'HTTP', auditor: 'Auditor',
          modules: 'Modules', plugins: 'Plugins', login: 'Login' %>

<h1>Editing '<%= @profile.name %>' profile</h1>

<div id='profiles'>
<%= render 'form' %>
</div>

