<% breadcrumb_add 'Profiles', profiles_path %>
<% breadcrumb_add 'New', new_profile_path %>
<% subnav spider: 'Spider', http: 'HTTP', auditor: 'Auditor',
          modules: 'Modules', plugins: 'Plugins', login: 'Login' %>

<h1>New profile</h1>

<div id='profiles'>
<%= render 'form' %>
</div>

<%= link_to 'Back', profiles_path %>
