<% title @profile.name %>

<% breadcrumb_add 'Profiles', profiles_path %>

<% subnav spider: 'Spider <small>&mdash; Crawler and scope settings</small>',
          http: 'HTTP <small>&mdash; Network settings</small>',
          auditor: 'Auditor <small>&mdash; Fuzzing settings</small>',
          modules: 'Modules <small>&mdash; Security checks</small>',
          plugins: 'Plugins <small>&mdash; Extra functionality</small>',
          login: 'Login <small>&mdash; Session settings</small>' %>

<div id='profiles'>
<%= render @profile %>
</div>
