<% title @profile.name %>
<% breadcrumb_add 'Profiles', profiles_path %>
<% subnav spider: 'Spider', http: 'HTTP', auditor: 'Auditor',
          modules: 'Modules', plugins: 'Plugins', login: 'Login' %>

<div id='profiles'>
<%= render @profile %>
</div>
