<div class="row-fluid hidden-phone collapse" id="charts">
    <div class="span11" id="chart-issues-container">
        <div id="chart-issues" class="clear">
        </div>
    </div>

    <div class="span11" id="pies">
        <div class="pie-chart" id="chart-severities">
        </div>

        <div class="pie-chart" id="chart-elements">
        </div>
    </div>
</div>
