<% if @issue.scan.running? %>
    <p class="alert alert-info">
        <i class="icon-info-sign"></i>

        This issue may be missing some context because the scan is still running.
        <br/>
        You better wait until the scan is over to review it as the meta-analysis
        phase will flag probable false-positives and other untrusted issues accordingly.
    </p>
<% end %>

<% if @issue.false_positive? %>
    <p class="alert alert-error">
        <i class="icon-exclamation-sign"></i>
        Marked as a false-positive.
    </p>
<% end %>

<% if @issue.pending_verification? %>
    <p class="alert alert-warning">
        <i class="icon-exclamation-sign"></i>

        Pending manual verification.

        <% if @issue.has_verification_steps? %>
            <br/>
            Verification steps are available, please consider following them
            and flagging the issue accordingly.
        <% end %>
    </p>
<% end %>

<% if @issue.fixed? %>
    <p class="alert alert-info">
        <i class="icon-asterisk"></i>
        This issues has been fixed.
    </p>
<% end %>

<% if @issue.verified? %>
    <p class="alert alert-success">
        <i class="icon-ok"></i>
        Verified.
    </p>
<% end %>

<% if @issue.pending_review? %>
    <p class="alert alert-info">
        <i class="icon-question-sign"></i>
        Awaiting review.
    </p>
<% end %>
