<% title "Editing #{@dispatcher.url}" %>
<% breadcrumb_add 'Dispatchers', dispatchers_path %>

<div class="page-header">
    <h1>Editing '<%= @dispatcher %>' Dispatcher</h1>
</div>

<div id="dispatchers">
<%= render 'form' %>
</div>
