<% title "Dispatchers" %>

<div id="dispatchers">
    <h1>Dispatchers</h1>

    <p>
        <%= link_to new_dispatcher_path, class: 'btn btn-primary' do %>
            <i class="icon-plus"></i> New Dispatcher
        <% end %>
    </p>

    <div id="tables"
         data-refresh-url="<%= dispatchers_url( format: :js, params: params ) %>"
         data-refresh-rate="5000"
     >
        <%=  render 'tables' %>
    </div>
</div>
