<% title "Dispatchers" %>

<div id="dispatchers">
    <h1>Dispatchers</h1>

    <p>
        <%= link_to new_dispatcher_path, class: 'btn btn-primary' do %>
            <i class="icon-plus"></i> New Dispatcher
        <% end %>
    </p>

    <div id="tables">
        <%=  render 'tables' %>
    </div>
</div>

<script type="text/javascript">
    setInterval( function(){
        $.get( '<%= dispatchers_url( format: :js, params: params ) %>',
                function( data ){
                    $('#dispatchers #tables').html( data );
                },
                "html" )
    }, 5000 );
</script>
