<% title "Dispatchers" %>

<div id="dispatchers">
    <div class="page-header">
        <h1>Dispatchers</h1>

        <div class="lead">
            Utilise agents to perform scans originating from remote machines.
        </div>
    </div>

    <% if can? :create, Dispatcher %>
    <p>
        <%= link_to new_dispatcher_path, class: 'btn btn-primary' do %>
            <i class="icon-plus"></i> New Dispatcher
        <% end %>
    </p>
    <% end %>

    <div id="tables"
         data-refresh-url="<%= dispatchers_path( params: params, format: :js ) %>"
         data-refresh-rate="<%= HardSettings.dispatcher_refresh_rate %>"
         data-refresh-type='js'
     >
        <%=  render 'tables' %>
    </div>
</div>
