<% title "New dispatcher" %>

<div id="dispatchers">

    <div class="page-header">
        <h1>Add a Dispatcher</h1>

        <div class="lead">
            Dispatchers are remote agents which provide you with Instances
            in order to perform scans.
        </div>
    </div>

<%= render 'form' %>

</div>
