<% title "New dispatcher" %>

<div id="dispatchers">

    <div class="hero-unit">
        <h1>Add a Dispatcher</h1>
        <p>
            Dispatchers are remote agents which provide you with Instances
            in order to perform scans.
        </p>
    </div>

<%= render 'form' %>

</div>
