<% title @dispatcher.url %>
<% breadcrumb_add 'Dispatchers', dispatchers_path %>

<div id="dispatchers">
    <div id="dispatcher"
         data-refresh-url="<%= dispatcher_url( @dispatcher, format: :js ) %>"
         data-refresh-rate="5000"
    >
        <%= render @dispatcher %>
    </div>
</div>
