<% title @dispatcher.url %>
<% breadcrumb_add 'Dispatchers', dispatchers_path %>

<div id="dispatchers">
    <div id="dispatcher">
        <%= render @dispatcher %>
    </div>
</div>

<script type="text/javascript">
    setInterval( function(){
        $.get( '<%= dispatcher_url( @dispatcher, format: :js ) %>', function( data ){
                    $('#dispatchers #dispatcher').html( data );
                },
                "html" )
    }, 5000 );
</script>
