<%
   lk = rk = []

   if components.size > 2
       lk, rk = *components.keys.chunk( 2 )

       lm = components.slice( *lk )
       rm = components.slice( *rk )
   else
       lm = components
       rm = []
   end
%>

<div class="row-fluid">
    <div class="<%= class_name %>">
        <%= render partial: '/shared/components_accordion_form',
                   locals: { components: lm, input: input, form: form, selected: selected }  %>
    </div>
    <div class="<%= class_name %>">
        <%= render partial: '/shared/components_accordion_form',
                   locals: { components: rm, input: input, form: form, selected: selected }  %>
    </div>
</div>
