<%
   lk = rk = []
   lk, rk = *components.keys.chunk( 2 ) if components.any?

   lm = components.slice( *lk )
   rm = components.slice( *rk )
%>

<div class="row">
    <div class="<%= class_name %>">
        <%= render partial: '/shared/components_accordion', locals: { components: lm }  %>
    </div>
    <div class="<%= class_name %>">
        <%= render partial: '/shared/components_accordion', locals: { components: rm }  %>
    </div>
</div>
