<%
   lk = rk = []
   if components.any?
       lk, rk = *components.keys.chunk( 2 )
   end
   lm = components.slice( *lk )

   rm = components.slice( *rk )
%>

<div class="row">
    <div class="<%= class_name %>">
        <%= render partial: '/shared/components_accordion', locals: { components: lm }  %>
    </div>
    <div class="<%= class_name %>">
        <%= render partial: '/shared/components_accordion', locals: { components: rm }  %>
    </div>
</div>
