<div id="comments">
    <div id="comments-list" class="accordion-body collapse">
        <% if (comments = scan.comments.reject { |c| !c.user }).any? %>
        <div class="accordion-inner well">
            <% comments.each do |comment| %>
            <div id="comment">
                <p>
                    <% if comment.user == current_user %>
                        <span class="label">You:</span>
                    <% else %>
                        <span class="label label-info">
                            <%= comment.user.name %>:
                        </span>
                    <% end %>
                </p>

                <blockquote>
                    <%= m comment.text.to_s %>
                    <small><em><%= l comment.created_at %></em></small>
                </blockquote>
            </div>
            <% end %>
        </div>
        <% else %>
        <p class="alert alert-info">This scan has no comments yet.</p>
        <% end %>

        <a href="#add-scan-comment" title="Comment on scan" role="button" class="btn" data-toggle="modal">
            <i class="icon-comment"></i>
            <%= 'Add comment' if !local_assigns[:nolabel] %>
        </a>

        <hr/>
    </div>
</div>
