<div id="progress">
    <%= render partial: 'progress' %>
</div>

<script type="text/javascript">
    $(document).ready( function( $ ) {
        window.setupScanCallbacks();

        $( '#edit-description-btn' ).show();
        $( '#issues' ).show();
        $( '#scan-sidebar' ).show( 'slow' );
        $( 'li#toggle-statistics' ).fadeIn( 'slow' );
        $( 'li#toggle-charts' ).fadeIn( 'slow' );
        $( 'li#download-report' ).hide();
    });
</script>
