<% title "Scans" %>

<div id="scans">
    <h1>Scans</h1>

    <p>
        <%= link_to new_scan_path, class: 'btn btn-primary' do %>
            <i class="icon-plus"></i> New Scan
        <% end %>
    </p>

    <div id='tables'>
        <%=  render 'tables' %>
    </div>
</div>

<script type="text/javascript">
    setInterval( function(){
        $.get( '<%= scans_url( format: :js ) %>', function( data ){
                    $('#scans #tables').html( data );
                },
                "html" )
    }, 5000 );
</script>
