<% title "Scans" %>

<div id="scans">
    <div class="page-header">
        <h1>Scans</h1>

        <div class="lead">
            Start, manage and stay up to date on your scans.
        </div>
    </div>

    <p>
        <%= link_to new_scan_path, class: 'btn btn-primary' do %>
            <i class="icon-plus"></i> New Scan
        <% end %>
    </p>

    <div id="tables"
         data-refresh-url="<%= scans_url( format: :js, params: params ) %>"
         data-refresh-rate="<%= Settings.scan_refresh_rate %>"
         data-refresh-type='js'
    >
        <%= render 'tables' %>
    </div>
</div>
