<% title "Scans" %>

<div id="scans">
    <h1>Scans</h1>

    <p>
        <%= link_to new_scan_path, class: 'btn btn-primary' do %>
            <i class="icon-plus"></i> New Scan
        <% end %>
    </p>

    <div id="tables"
         data-refresh-url="<%= scans_url( format: :js, params: params ) %>"
         data-refresh-rate="5000"
    >
        <%=  render 'tables' %>
    </div>
</div>
