<% title "New scan" %>

<div id="scans">
    <div class="hero-unit">
        <h1>Start a scan</h1>
        <p>The only thing you need to do is make a simple choice about the type of
            scan you want to perform.
        </p>

        <p>
            <a data-toggle="modal" href="#scan-type-help"
               class="btn btn-large">Trouble making up your mind?</a>
        </p>

        <div class="modal hide" id="scan-type-help">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h2>Scan types</h2>
            </div>
            <div class="modal-body">
                <h3>Direct</h3>
                <p>One fine body…</p>

                <h3>Remote</h3>
                <p>One fine body…</p>

                <h3>High-Performance Grid</h3>
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>

    <%= render 'form' %>
</div>
