<% title "New scan" %>

<div id="scans">
    <div class="page-header">
        <h1>Start a scan</h1>

        <div class="lead">
            The only thing you need to do is provide some basic information and
            make a simple choice about the type of scan you want to perform.
        </div>
    </div>

    <%= render 'form' %>
</div>
