<% title "New scan" %>

<div id="scans">
    <div class="hero-unit">
        <h1>Start a scan</h1>
        <p>The only thing you need to do is make a simple choice about the type of
            scan you want to perform.
        </p>
    </div>

    <%= render 'form' %>
</div>
