<div class="row-fluid hidden-phone">
    <div class="span12">
        <h2>Issues per scans, <small>'cause that's the way the cookie crumbles.</small></h2>

        <% if @issues_per_scan.size > 1 %>
            <div id="trend-charts">
            </div>

            <script type="text/javascript">
                $.jqplot('trend-charts', [<%= @issues_per_scan.values %>], {
                    highlighter: {
                        show: true,
                        sizeAdjust: 7.5,
                        tooltipAxes: 'y',
                        formatString: '%s issues'
                    },
                    // Give the plot a title.
                    // You can specify options for all axes on the plot at once with
                    // the axesDefaults object.  Here, we're using a canvas renderer
                    // to draw the axis label which allows rotated text.
                    axesDefaults: {
                        labelRenderer: $.jqplot.CanvasAxisLabelRenderer
                    },
                    // An axes object holds options for all axes.
                    // Allowable axes are xaxis, x2axis, yaxis, y2axis, y3axis, ...
                    // Up to 9 y axes are supported.
                    axes: {
                        // options for each axis are specified in seperate option objects.
                        xaxis: {
                            label: "Scans",
                            // Turn off "padding".  This will allow data point to lie on the
                            // edges of the grid.  Default padding is 1.2 and will keep all
                            // points inside the bounds of the grid.
                            pad: 0
                        },
                        yaxis: {
                            label: "Issues",
                            min:    0
                        }
                    },
                    grid: {
                        drawBorder: false,
                        background: '#ffffff',
                        shadow: false
                    },
                    seriesDefaults: {
                        color: '#4572A7',
                        smooth: true
                    }
                });

            </script>
        <% else %>
            <p class="alert alert-info">
                Not enough data points, please start a few scans and check back later.
            </p>
        <% end %>
    </div>
</div>

<hr/>

<div class="row-fluid">
    <div class="span6">
        <h2>Notifications, <small>about things you're involved in.</small></h2>

        <div id="notifications">
            <%= render 'notifications' %>
        </div>
    </div>

    <div class="span6">
        <h2>Review your activity, <small>to freshen your memory.</small></h2>

        <div id="activities">
            <%= render 'activities' %>
        </div>
    </div>
</div>
