<div class="row-fluid hidden-phone">
    <div class="span12">
        <h2>Activity charts, <small>just to make this page look pretty.</small></h2>
        TBD
    </div>
</div>

<hr/>

<div class="row-fluid">
    <div class="span6">
        <h2>Review your activity, <small>to freshen your memory.</small></h2>

        <div id="activities">
        <%= render 'activities' %>
        </div>
    </div>

    <div class="span6">
        <h2>Notifications, <small>about things you're involved in.</small></h2>

        <div id="notifications">
            <%= render 'notifications' %>
        </div>
    </div>
</div>
