<% title "Home" %>

<div class="hero-unit">
    <h1>Welcome to Arachni, <small>pick a section and let's get going...</small></h1>
    <hr/>
    <div class="row">
        <div class="span3">
            <h3><a href="<%= scans_path %>">Scans</a></h3>
            <p>Start, monitor and manage your scans and their results.</p>
            <p>This is probably what you're here for.</p>
        </div>
        <div class="span4">
            <h3><a href="<%= profiles_path %>">Profiles</a></h3>
            <p>Create, edit and review scan profiles.</p>
            <p>Make the whole process easier by creating profiles that better suit your needs.</p>
        </div>
        <div class="span3">
            <h3><a href="">Settings</a></h3>
            <p>Configure several aspects of the user interface.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <h2>The skinny:</h2>
    </div>

    <div class="span12">
        Dashboard stuff will go here, maybe some nice charts and the like...
    </div>
</div>
