/*
 * Copyright 2013-2022 Ecsypno <http://www.ecsypno.com>
 *
 * This file is part of the Arachni WebUI project and is subject to
 * redistribution and commercial restrictions. Please see the Arachni WebUI
 * web site for more information on licensing and terms of use.
*/

// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dispatchers {

    .help-block {
        display: block;
        clear: both;
    }

    #dispatcher_user_ids,
    #dispatcher_address,
    #dispatcher_port {
        width:  100%;
    }

    #dispatcher_user_ids {
        height:  80px;
    }

    #dispatcher_description {
        width:  100%;
        height: 100px;
    }

    .form-actions input.btn {
        float: left;
    }

    label {
        float: left;
        display: inline;
        padding-right: 10px;
    }

    .checkbox {
        float: right;
    }

}
