/*
 * Copyright 2013-2022 Ecsypno <http://www.ecsypno.com>
 *
 * This file is part of the Arachni WebUI project and is subject to
 * redistribution and commercial restrictions. Please see the Arachni WebUI
 * web site for more information on licensing and terms of use.
*/

// Place all the styles related to the scans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#scans {
    margin-top: 10px;

    label {
        display: inline;
    }

    .help-block {
        display: block;
        clear: both;
    }

    #show-profile.modal {
        //new custom width
        width: 1220px;
        //must be half of the width, minus scrollbar on the left (30px)
        margin: -300px 0 0 -610px;
    }

    #show-profile .nav {
        margin-bottom: 10px;
        height: 16px;
    }

    #show-profile .modal-header {
        margin-bottom: 10px;
    }

    #scan-type-buttons {
        margin-left: 3%;
    }

    #scan-type-descriptions {
        margin-left: 4%;
    }

    #scan_url {
        width: 100%;
    }

    #scan_description {
        width: 100%;
        height: 85px;
    }

    #scan_type {
        display: none;
    }

    #scan_instance_count {
        width: 20px;
    }

    #scan_profile,
    #scan_scan_group_ids,
    #scan_user_ids {
        width: 100%;
    }

    #scan_scan_group_ids,
    #scan_user_ids {
        height: 90px;
    }

    .scan_schedule_basetime {
        label[for=scan_schedule_basetime] {
            padding-right: 10px;
        }

        .controls {
            display: inline;
        }
    }

    #error-messages {
        max-height: 200px;
        overflow: auto;
    }

    .scan_instance_count {
        .controls {
            display: inline;
            padding-left: 10px;
        }
    }

    #grid_dispatcher_id,
    #remote_dispatcher_id {
        width: 100%;
    }

    #scan_schedule_every_minute,
    #scan_schedule_every_hour,
    #scan_schedule_every_day,
    #scan_schedule_every_month {
        width: 100%;
    }

    #progress-percentage {
        font-weight: bold;
        font-size: 17px;
        color: white;
        position: absolute;

        text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
            1px 1px 0 #000;
    }

    #charts .pie-chart {
        width: 50%;
        float: left;
    }

    .jqplot-data-label, .jqplot-point-label {
        color: #FFFFFF;
    }

    .progress-container {
        text-align: center;
    }

    .progress {
        height: 20px;
        text-align: center;
    }

    #toggle-charts,
    #toggle-statistics,
    #download-report {
        display: none;
    }

    table tr.root-with-revisions {
        cursor: pointer;
    }
    table td.revision-table-container {
        padding-bottom: 0px;
        border: none;
    }

    .revision-table-container {
        table {

            tr:first-child td {
                border-top: 0px;
            }

            tr td:first-child {
                margin-right: 10px;
                border-left: 1px solid black;
            }
        }
    }
}

.update-scan-schedule {
    width: 70%;
    left: 15%;
    margin-left: 0px;
}
