/*
 * Copyright 2013-2022 Ecsypno <http://www.ecsypno.com>
 *
 * This file is part of the Arachni WebUI project and is subject to
 * redistribution and commercial restrictions. Please see the Arachni WebUI
 * web site for more information on licensing and terms of use.
*/

// Place all the styles related to the scans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#settings {

    .help-block {
        clear: both;
    }

    label {
        display: inline;
        padding-right: 10px;
    }

    #scan {

        label {
            float: left;
        }

        #setting_scan_per_user_limit,
        #setting_scan_global_limit {
            width: 30px;
        }

        #setting_scan_target_blacklist_patterns,
        #setting_scan_target_whitelist_patterns {
            width:  100%;
            height: 150px;
        }

        .setting_scan_per_user_limit .controls,
        .setting_scan_global_limit .controls {
            display: inline;
        }

        .setting_scan_allowed_types .checkbox {
            display: block;
        }

        .settings_scan_allowed_types input {
            float: none;
        }
    }

    #profile {
        .modules input {
            margin-right: 5px;
            margin-top: -3px;
            clear: both
        }

        input#search {
            float: none;
            width: 240px;
        }
    }

    #general {
        label {
            float: left;
        }
    }

}
