<ul id="sidenav" class="nav nav-pills nav-stacked sidenav">
    <li>
        <a href="#top" class="scroll">
            <%= opts[:top] || 'Top' %>
            <i class="icon-chevron-up"></i>
        </a>
    </li>
    <% sections.each do |id, title| %>
        <li>
            <a href="#<%= id.to_s %>" class="scroll">
                <%= title.to_s.html_safe %>
                <i class="icon-chevron-right"></i>
            </a>
        </li>
    <% end %>
</ul>
